@model List<NewsWebsite.ViewModels.News.DetailsNewsViewModel>
@inject Services.CRUD.Interfaces.IUsersService usersService;
@using System.Security.Claims;

@{
    ViewData["Title"] = "ListAll";
}

<link rel="stylesheet" type="text/css" href="/node_modules/quill/dist/quill.snow.css">
<link rel="stylesheet" type="text/css" href="~/css/QuillWYSIWYG.css">
<script src="/node_modules/quill/dist/quill.js"></script>
<script src="~/js/NewsQuillWYSIWYG.js"></script>

<h1>All News</h1>

<p>
    @if (usersService.IsSignedIn(User))
    {
        string currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

        if (await this.usersService.IsInRoleAsync(currentUserId, "Administrator") || await this.usersService.IsInRoleAsync(currentUserId, "Reporter")) //TODO:Extract magic strings
        {
            <a asp-action="Create" class="btn btn-primary">Create News</a>
        }
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ReporterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UpdatedAt)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model[i];

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <div class="container">
                        <div id="editor-container-@i"></div>
                    </div>

                    <script>
                        let wysiwyg_@i = new WYSIWYG("editor-container-@i", true); // use _ in the JavaScript variables names (we get a runtime error when using -)
                        (wysiwyg_@i).populateContainerWithWYSIWYGData(@Html.Raw(item.Content)); // we set the contents of QuillJs, so that we can extract some part of it's text (since it's stored in Deltas format)
                        (wysiwyg_@i).setText((wysiwyg_@i).getShortExcerpt());
                    </script>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReporterName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.ActionLink("Details", "GetDetails", new { id = item.Id })
                </td>

                @if (usersService.IsSignedIn(User))
                {
                    string currentUserId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);

                    if (currentUserId == item.ReporterId)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </td>

                        <td>
                            <!-- Button trigger modal -->
                            <a href="#" data-toggle="modal" data-target="#exampleModal">Delete</a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete News</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Delete News with title @item.Title?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <form asp-action="Delete">
                                                @Html.Hidden(nameof(item.Id), item.Id)
                                                <input type="submit" value="Delete" class="btn btn-danger" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>